/* Your Website Styles */

body {
	background: #7C7159;
}

a:link,
a:visited {
font-family: 'Arimo', sans-serif;
  color: #086B63;
  text-decoration: none;
    transition: .25s ease-in-out;
}

a:hover {
  color: #77A490;
  text-decoration: none;
  transition: .25s ease-in-out;
}

/* Show Grid */
.showgrid {
	background: url("") repeat-y;
}